<p>Thanks for signing the agreement, <%= name %>. Please review the attached PDF and ensure that your information is correct.
Further action may be necessary to execute the terms to this agreemnt.
</a>
